{% extends "base.html.twig" %}

{% block title %}Liste des produits
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			{% include "_partials/_adminnav.html.twig" %}
			<main class="col-9 border border-light bg-white p-2">
				<h1>Liste des produits</h1>
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Photo</th>
							<th>Nom</th>
							<th>Prix</th>
							<th>Stock</th>
							<th>Catégorie</th>
							<th colspan="2">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for produit in produits %}
							<tr>
								<td>{{ produit.id }}</td>
								<td>
									{% if produit.images is not empty %}
										{% for image in produit.images %}
											<img src="{{ asset('assets/uploads/products/mini/300x300-' ~ image.name) }}" alt="{{ produit.name }}" class="img-thumbnail" width='50px'>
										{% endfor %}
									{% endif %}
								</td>
								<td>{{ produit.name }}</td>
								<td>{{ produit.price }}</td>
								<td>{{ produit.stock }}</td>
								<td>{{ produit.categories.name }}</td>
								<td>
									<a href="{{ path('admin_products_edit', {id: produit.id})}}" class="btn btn-success">Modifier</a>
								</td>
								{% set promotion = null %}
								{% for promo in promotions %}
									{% if promo.products.id == produit.id and promo.dateDeb|date("m/d/Y") <= 'now'|date("m/d/Y") and promo.dateFin|date("m/d/Y") >= 'now'|date("m/d/Y") %}
										{% set promotion = promo %}
									{% endif %}
								{% endfor %}
								{% if promotion is null %}
									<td>
										<a href="{{ path('admin_products_delete', {id: produit.id})}}" class="btn btn-error">Supprimer</a>
									</td>
								{% else %}
									<td style="vertical-align: middle;">
										<span>Ce produit ne peut pas être supprimé car il a des promotions associées.</span>
									</td>
								{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</tbody>
				</table>
			</main>
		</div>
	</div>
{% endblock %}
