{# Début du formulaire promotions #}
{{ form_start(promotionsForm) }}
{# On ajoute chaque champs #}
    {{ form_row(promotionsForm.pourcentage) }}
    {{ form_row(promotionsForm.date_deb) }}
    {{ form_row(promotionsForm.date_fin) }}

    <button type="submit" class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
{{ form_end(promotionsForm) }}