{{ form_start(promotionsForm) }}
    {{ form_row(promotionsForm.id) }}
    {{ form_row(promotionsForm.dateDeb) }}
    {{ form_row(promotionsForm.dateFin) }}
    {{ form_row(promotionsForm.products) }}

    <button type="submit" class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
{{ form_end(promotionsForm) }}