{% extends "base.html.twig" %}

{% block title %}Liste des promotions
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			{% include "_partials/_adminnav.html.twig" %}
			<main class="col-9 border border-light bg-white p-2">
				<h1>Liste des promotions</h1>
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Produit</th>
							<th>Pourcentage de remise</th>
							<th>Date de début</th>
							<th>Date de fin</th>
							<th colspan="2">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for promotion in promotions %}
							<tr>
								<td>{{ promotion.id }}</td>
								<td>{{ promotion.products.name }}</td>
								<td>{{ promotion.pourcentage }}</td>
								<td>{{ promotion.dateDeb | date('d-m-Y')}}</td>
								<td>{{ promotion.dateFin | date('d-m-Y')}}</td>
								{# <td>
									<a href="{{ path('admin_promotions_edit', {id: promotion.id})}}" class="btn btn-success">Modifier</a>
								</td> #}
								<td>
									<a href="{{ path('admin_promotions_delete', {id: promotion.id})}}" class="btn btn-error">Supprimer</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</main>
		</div>
	</div>
{% endblock %}
